.nav-add 
{
    position: absolute;
    padding: 25px;
    margin-left: 25%;
    font-weight: bold;

}

.navbar
{
    width: 100;
}
.nav-link-add 
{
    justify-content: space-between;
    margin-right: 50px;

}


.navbar-add 
{
    align-content: space-between;
    background: rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
}

.firstpara
{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.firstpara h1
{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
}

.firstpara p
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;    
    color: #383838;
}

.contents
{
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layer{
    background: rgba(0, 0, 0, 0.47);
        position: absolute;
        height: 600px;
        width: 100%;
        z-index: 0;
}


.contents div
{
    display: inline-block;
}



.contents .card
{
    width: 490px;
    height: 420px;
    border-radius: 20px;
    background-color: white;
}
.card-header
{
    width: 490px;
    text-align: center;
    font-family: "Poppins";
}


.card-text
{
    font-family: 'Poppins';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: auto auto;
}
.first .card-body .card-text
{
    margin-top: 100px;
}
.one
{
    background-image: url("Images-Plastics/first.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.two
{   background: #000000;

    background-image: url("Images-Plastics/second.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.second .card-body .card-text
{
    margin-top: 90px;
}
.three
{
    background-image: url("Images-Plastics/third.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.third .card-body .card-text
{
    margin-top: 80px;
}
.four {
    background-image: url("Images-Plastics/fourth.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.fourth .card-body .card-text {
    margin-top: 80px;
}
.five {
    background-image: url("Images-Plastics/fifth.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.fifth .card-body .card-text
{
    margin-top: 90px;
}
.six {
    background-image: url("Images-Plastics/sixth.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sixth .card-body .card-text {
    margin-top: 110px;
}

.materi {
   
    height: 593px;
   
    color: black;
}

.board {
    margin-top: 30px;
    height: 710px;

}



@media screen and (max-width: 770px) {
    .materi {
       

    }


}

@media screen and (max-width: 600px) {
    .materi {
        

    }
    .img1 {
        height: 200px !important;
        width: 200px !important;
       
        border-radius: 50%;
    }
    

    .grid {
        margin-left: 100px;

    }


}

.materi h1 {
    position: relative;
    padding-top: 50px;
}

.mat {

    width: 1100px;
    height: 400px;
    margin-left: 175px;
}






.cell {
    height: 247px;
    width: 247px;

    border-radius: 50%;

}


.container-slides {
    width: 1100px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}


.carousel {
    width: 100%;
}

.carousel-cell {
    width: 33%;
    height: 200px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-cell div {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected div {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none;
}

@media screen and (min-width: 768px) {
    .carousel-cell {
        height: 400px;
    }



}

@media screen and (max-width: 960px) {
    .carousel-cell {
        width: 60%;
    }

    .container-slides {
        width: auto;
        height: 400px;
    }

    .carousel-cell div {
        display: block;
        max-width: 100%;
        max-height: 100%;
        /* dim unselected */
        opacity: 0.7;
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
        transition: opacity 0.3s, transform 0.3s, filter 0.3s;
    }

    .carousel-cell {
        height: 400px;
    }

}




/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
}

.flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: black;
}

.flickity-prev-next-button.no-svg {
    color: black;
}

/* closer to edge */
.flickity-prev-next-button.previous {
    left: 0;
}

.flickity-prev-next-button.next {
    right: 0;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

.img1 {
    height: 247px;
    width: 247px;
    background-color: red;
    border-radius: 50%;
}

.p1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

}

.forpro
{
    background-color: #484848;
    display: flex;
    justify-content: center;
}

.proverb
{   text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: white;
    display: inline-block;
}
.card-header{
    display: inline-block;
    width: 100%;
}



.proverb::after {
    content: '';
    width: 20%;
    background-color: #ff4500;
    height: 4px;
    margin: 8px auto auto;
    display: block;
}

@media only screen and (max-width: 600px)
{
    .contents
    {
        height: 500px;
        display: flex;
        justify-content: center;
    }
    .contents .card
    {
        width: 300px;
        height: 310px;
    }
    .card-body .card-text
    {
        margin: 0;
    }
    .firstpara
    {
        margin: 40px 40px;
    }
    .firstpara h1
    {
        font-size: 30px;
        line-height: 40px;
    }
    .firstpara p
    {
        font-size: 20px;
    }
    .first .card-body .card-text
    {
        margin-top: 50px;
        font-size: 20px;
    }
    .second .card-body .card-text 
    {
        margin-top: 10px;
        font-size: 20px;
    }
    .third .card-body .card-text
    {
        margin-top: 20px;
        font-size: 20px;
    }
    .fourth .card-body .card-text 
    {
        margin-top: 25px;
        font-size: 20px;
    }
    .fifth .card-body .card-text 
    {
        margin-top: 0px;
        font-size: 20px;
    }    
    .sixth .card-body .card-text 
    {
        margin-top: 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px)
{
    .navbar-nav
    {
        background-color: #484848;
    }
    .nav-link-add
    {
        color: white;
    }
    .navbar-collapse
    {
        width: 100%;
    }
    .disappear
    {
        display: none;
    }
    .layer{
        height: 500px;
    }

    .contents 
    {
        display: flex;
        justify-content: center;
    }
}


.navbar
{

}














 





